# Default ignored files
/shelf/
/workspace.xml


# Datasource local storage ignored files
/../../../../../../:\semester4\ECE651\team project\RISC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

