.territory {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-background-color: black, #200020;
    -fx-text-fill: ivory;
    -fx-background-radius: 10, 10;
    -fx-background-insets: 2, 5;
    -fx-background-radius: 5em;
}

.territory:hover {
    -fx-background-color: black, #100010;
    -fx-text-fill: ivory;
    -fx-background-radius: 10, 10;
    -fx-background-insets: 2, 5;
    -fx-background-radius: 5em;
}

.territory:pressed {
    -fx-background-color: black, #010001;
    -fx-text-fill: ivory;
    -fx-background-radius: 10, 10;
    -fx-background-insets: 2, 5;
    -fx-background-radius: 5em;
}